<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Welcome to A.R.S.E {{ config['version'] }}</title>
  </head>
  <body>
    <h1>A.R.S.E {{ config['version'] }} Help Page</h1>
    <a href="settings" title="settings">settings</a>|
    <a href="test" title="socket">socket</a>
    <p>
      Automated Reporting for System Engineers (A.R.S.E.)<br>
      Welcome to teh system, please provide information on...
      <form action = "http://10.0.0.95:5000/uploader" method = "POST" method=post enctype=multipart/form-data>
        login: <input type=text name="login"><br>
        password: <input type=password name="password"><br>
        xlsx calendar file: <input type=file name=file accept=".xlsx"><br>
        <input type=submit value=Upload>
      </form>
    </p>
    <p>Execution output</p>
    <div id=txtOutput></div>
  </body>
</html>
