<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A.R.S.E {{ configs['version'] }} help</title>
  </head>
  <body>
    <h1>A.R.S.E {{ configs['version'] }} Help Page</h1>
    <a href="/" title="main menu">home</a>&nbsp;|
    <p>
      Automated Reporting for System Engineers (A.R.S.E.)<br>
      Here goes the information about usage of the project.
    </p>
    <p>Settings</p>
    <li>date format: {{ configs['date_format'] }}</li>
    <li>decimal separator: {{ configs['decimal_separator'] }}</li>
    <li>worker address: {{ configs['worker'] }}</li>
    <li>version: {{ configs['version'] }}</li>
  </body>
</html>
